body{
    font-family: "Google Sans";
    background-image: url('./imagenes/fondo1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}
header h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin: 0;

}
nav{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.104);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

nav a{
    color: #efb861;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18pt;

}
fieldset {
    background-color:rgba(255, 251, 251, 0.341);
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    margin: auto ;
    border: none;   
}

label {
    margin-bottom: 10px;
    color: #291900;
    font-size: 20pt;
}
input[type="text"], input[type="password"] 
{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;    
    margin-top: 10px; 
    border: 1px solid #ccc;
    font-family: "Google Sans";
    border-radius: 5px;
}
input[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #dd8808;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Google Sans";
    font-size: 15pt;
}

header{
    background-color: rgba(0, 0, 0, 0.104);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header h1::first-letter{
    font-size: 30pt;
}

h2{
    color: white;
    font-size: 30pt;
}

header img{
    height: 80%;
    position: absolute;
    border-radius: 5px;
    right: 20px;
}

article{
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px ;
    text-align: center;
}
.info {
    position: absolute;
    right: 60px;
    top: 180px;
    width: 250px;
    
    background: rgba(0, 0, 0, 0.4);
    color: white;
    
    padding: 20px;
    border-radius: 15px;
    
    backdrop-filter: blur(5px);
}

.info h3 {
    margin-top: 0;
    text-align: center;
}

.info p {
    margin: 10px 0;
}
div.contenedor {
    display: flex;   
    margin-top: 20px;
    justify-content: center;
    align-items: center;        
    width: 80%;
    margin: auto;
}


div.izquierda {
    width: 12%;
    text-align: center;
    color: white;
}

div.izquierda img {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 10px;
    
}


div.derecha {
    width: 500px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    color: white;
}

div.mensaje {
    margin-top: 15px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
}